/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
}

/*header*/
header {
    padding: 1rem 2%;
    background-color: $primaryColor;
}
header img{
    float: left;
    padding: 15px 0px 0px 0px;
}
header h1 {
	margin: 1.5rem 0 0 0; 
    font-size: 1.5rem;

}
@media (max-width: 559px){
    header h2{display: none;}
    nav ul{columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;}
}
/*nav*/
nav {background-color: #111;}
nav ul{margin:0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: #333}
nav a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #444;}


main{
    padding: 0;
    min-height: 10rem;
}

main h1{
    color: $primaryColor;
    margin: 0;
}

main figure.hero{width: 100%; margin: 0;}
main figure.hero img{width:100%;}
main figcaption {text-align: center; font-size: .8rem;}
main figure.catphoto {
    float: right; 
    width: 100%; 
    margin-left: 2%;
    padding-bottom: .5rem;
}
main figure.catphoto img{width:100%}


/*footer*/
div#footerWrapper{background-color: $primaryColor;}
footer {
    text-align: center;
    padding: 1rem 2%;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}